.homepage-container {
    width: 100%;
    height: 100vh;  /* Înălțimea paginii să ocupe tot ecranul */
    margin: 0;
    position: relative;
  }
  
  .background-image {
    background-image: url('../../assets/images/cover_styleIT.jpg'); /* Adaugă calea corectă a imaginii tale */
    background-size: cover;
    background-position: center top;  
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }

  .buttons {
    display: flex;
    flex-direction: column; /* Asta va aranja butoanele pe verticală */
    justify-content: center;
    align-items: center; /* Centrează butoanele pe orizontală */
    gap: 20px; /* Adaugă un spațiu între butoane */
    margin-left: 45px; /* Adaugă margine la stânga pentru a le muta spre dreapta */
    margin-top: 90px;
  }  
  
  /* Stiluri pentru modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundal semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Efect de blur pe restul ecranului */
  z-index: 9999;
}

.modal-content {
  display: block;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/* Stiluri pentru modalul de register */
.register-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundal semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Efect de blur pe restul ecranului */
  z-index: 9999; /* Asigură-te că modalul apare deasupra altor elemente */
}

.register-modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Overlay-ul să fie sub conținutul modalului */
}

.register-modal .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Modalul să fie deasupra overlay-ului */
}

.sign-in-button, .sign-up-button {
    all: unset;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1b1731 !important;  /* Poți schimba culoarea */
    color: white !important;
    transition: background-color 0.3s ease;
  }
  
  .sign-in-button:hover, .sign-up-button:hover {
    background-color: #8474cc !important;  /* Culoare schimbată la hover */
  }
  