.profile-wrapper {
  max-width: 700px;
}

.profile-card {
  background-color: #fff;
  border: 1px solid #ddd;
  transition: 0.3s ease;
  border-radius: 20px;
}

.profile-name {
  font-weight: 700;
  font-size: 2rem;
  color: #6c63ff;
}

.profile-picture {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #6c63ff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.profile-info p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
